<div class="btnGroup">
    <div class="CartBtn" 
         (click)="CartBtn()"
         [ngStyle]="{'background': CartClicked ? '#ffffff' : 'transparent',
                     'color' : CartClicked ? '#444444' : '#999999',
                     'borderTop' : CartClicked ? '4px solid #0543A5' : '0px solid transparent'}"
         >Cart</div> 
  </div>


  
  
  <!-- Order History (STARTS) --> 
  <div *ngIf="CartContent">
  <div class="container">
    <div class="CartTitle">Shopping Cart</div>
  </div>
  
  <div class="tableTitleContainer">
    <div class="imageTitle">IMAGE </div>
    <div class="productTitle">PRODUCT </div>
    <div class="paymentTitle">PRICE</div>
  </div>
  
  <div class="tableListItemsContainer">
    <div class="image"> 
            <img src="image1.jpg" alt="yellowsubmarine" width="200" height="200">
    </div>
    <div class="product">
      <div class="title">Yellow Submarine</div>
      <div class="type">The Beatles - 1968</div>
      </div>
    <div class="payment">$16.99</div>
  
  </div>

  <div class="tableListItemsContainer">
      <div class="image"> 
          <img src="image2.jpg" alt="pinkfloyd" width="200" height="200">
  </div>
  <div class="product">
      <div class="title">The Dark Side of the Moon</div>
      <div class="type">Pink Floyd - 1973</div>
  </div>
  <div class="payment">$25.90</div>
  </div>
  
  </div>
<div class ="tableListItemsContainer">
  <div class="image"> 
      <img src="image3.jpg" alt="sidepony" width="200" height="200">
</div>
<div class="product">
<div class="title">Side Pony</div>
<div class="type">Lake Street Dive - 2016</div>
</div>
<div class="payment">$20.99</div>
</div>
  
  
  
  
  
  
  <div class="footer"></div>
