#album-list {
    height: 312px;
    border-bottom: 2px solid black;
}

h2 {
  padding-top: 2px;
  padding-bottom: 2px;
  background:rgb(92, 90, 90);
  color: rgb(255, 255, 255);
  text-align: center;
}

.scrolling-wrapper {
    overflow-x: scroll;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }