h2 {
  border-bottom: 2px solid gray;
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0px;
}

.scrolling-wrapper {
    overflow-x: scroll;
    white-space: nowrap;
  }

  #album-list{
    border-top: 4px solid black;
  }