<div id="outer">
    <div class="push"></div>
    <ul>
        <u>Hot Off the Press</u>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact Us</a></li>
    </ul>
    <div class="push"></div>
    <ul>
        <u>Navigate</u>
        <li><a routerLink="/">Home Page</a></li>
        <li><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/user-settings">Settings</a></li>
        <li><a routerLink="/login">Login</a></li>
    </ul>
    <div class="push"></div>
    <ul>
        <u>Follow Us</u>
        <li><img src="../../../assets/yt.png" height="18px"><a href="https://youtu.be/dQw4w9WgXcQ">Youtube</a></li>
        <li><img src="../../../assets/twt.png" height="18px"><a href="https://youtu.be/dQw4w9WgXcQ">Twitter</a></li>
    </ul>
    <div class="push"></div>
</div>