
.btnGroup {
    display:flex;
    height:36px;
    line-height:36px;
    font-size:12px;
    color:#6d6464;
    font-weight:800;
  }
  
  .orderHistoryBtn {
    /* flex:1; */
    padding:0px 10px 0px 10px;
    background:rgb(92, 90, 90);
    cursor:pointer;
  }
  
  .orderHistoryTitle {
    background:#fdfdfd;
  }
  
  .container {
    display:flex;
    padding:20px;
    background:#ffffff;
    font-size:22px;
    font-weight:bold;
  }
  
  .tableTitleContainer {
    display:flex;
    height:32px;
    line-height:32px;
    padding:0px 20px 0px 20px;
    background:#534b4b;
    font-size:12px;
    font-weight:800;
    color:#eee8e5;
  }
  .dateTitle {
    /* flex:1; */
    /* background:blue; */
    background:#534b4b;
    padding:0px 25px 0px 10px;
    width:57px;
  }
  .descriptionTitle {
    flex:1;
    /* background:green; */
    background:#534b4b;
    padding:0px 25px 0px 10px;
  }
  
  .paymentTitle {
    /* flex:1; */
    width:58px;
    /* background:purple; */
    background:#534b4b;
    padding:0px 10px 0px 10px;
  }
  
  
  .tableListItemsContainer {
    display:flex;
    padding:0px 20px 0px 20px;
    background:#ffffff;
    font-size:14px;
  }
  
  .date {
    /* flex:1; */
    width:57px;
    /* background:lightblue; */
    background:#ffffff;
    padding:15px 25px 15px 10px;
    color:#444444;
    border-bottom:1px solid #dddddd;
  }
  .description {
    flex:1;
    /* background:lightgreen; */
    background:#ffffff;
    padding:15px 25px 15px 10px;
    border-bottom:1px solid #dddddd;
  }
  
  .title {
    font-weight:bold;
    background:#fffefe;
  }
  
  .type {
    background:#ffffff;
  }
  
  .payment {
    /* flex:1; */
    width:58px;
    /* background:yellow; */
    background:#ffffff;
    padding:15px 10px 15px 10px;
    color:#444444;
    border-bottom:1px solid #dddddd;
  }
  
  .footer {
    padding:0px 20px 40px 20px;
    background:#ffffff;
  }
  
    .editBtnContainer {
      /* flex:1; */
      /* background:orange; */
      background:#f5f5f5;
      padding:0px 20px 0px 20px;
      font-size:12px;
      font-weight:800;
    }
  
    .editBtn {
      cursor:pointer;
      background:#f6f6f6;
    }