<div id="outer" class="tertiary">
    <div class="header-item-left">
        <a routerLink="/"><img height="96px" src="../../../assets/logo.png"></a>
    </div>
    <div class="header-item-right">
            <a routerLink="/login"><img src="../../../assets/login.png"></a>
    </div>
    <div class="header-item-right">
        <a routerLink="/user-settings"><img src="../../../assets/settings.png"></a>
    </div>
    <div class="header-item-right">
        <a routerLink="/cart"><img src="../../../assets/cart.png"></a>
    </div>
</div>