<div id="outer" class="tertiary">
    <a routerLink="/"><img height="96px" src="../../../assets/site-header/logo.png"></a>
    <div id="push"></div>
    <app-header-elem [imgSrc]="'../../../assets/site-header/sell.png'" [path]="'upload'"></app-header-elem>
    <app-header-elem [imgSrc]="'../../../assets/site-header/cart.png'" [path]="'cart'"></app-header-elem>
    <app-header-elem [imgSrc]="'../../../assets/site-header/settings.png'" [path]="'user-settings'"></app-header-elem>
    <app-header-elem [imgSrc]="'../../../assets/site-header/login.png'" [path]="'login'"></app-header-elem>
    <app-header-elem [imgSrc]="'../../../assets/site-header/contact.png'" [path]="'contact'"></app-header-elem>
</div>