<div id="outer" class="tertiary">
    <div class="header-item-left">
        <a routerLink="/"><h2>HOTP</h2></a>
    </div>
    <div class="header-item-left">
        <input type="search" id="search-box" placeholder="Search">
    </div>
    <div class="header-item-left">
        <button>Search</button>
    </div>
    <div class="header-item-right">
            <a routerLink="/login">Log In</a>
    </div>
    <div class="header-item-right">
        <a routerLink="/create-account">Create New Account</a>
    </div>
    <div class="header-item-right">
        <a routerLink="/settings">Settings</a>
    </div>
</div>