#outer {
    display: table;
    width: 100%;
    border-bottom: 4px solid black;
}

.header-item-left {
    float: left;
    padding: 5px;
    
}

.header-item-right {
    float: right;
    padding: 5px;
}

img {
    height: 64px;
}

a {
    color: white;
    text-decoration: underline;
}