#outer {
    display: table;
    width: 100%;
}

.header-item-left {
    float: left;
    padding: 5px;
    
}

.header-item-right {
    float: right;
    padding: 5px;
}

h2 {
    color: white;
    text-emphasis: bold;
}

a {
    color: white;
    text-decoration: underline;
}