.album-list {
    background-color: #555555;
    height: 330px;
    padding-bottom: 2px;
}

h2 {
    text-align: center;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }