        /* Clear the inner and outer margins */

    body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
    /* structural elements Structural element */

    dl, dt, dd, ul, ol, li,
    /* list elements List element */

    pre,
    /* text formatting elements Text format element */

    fieldset, lengend, button, input, textarea,
    /* form elements Form element */

    th, td {
        /* table elements Table element */
        margin: 0;
        padding: 0;
    }
    /* Set default font */

    body, button, input, select, textarea {
        /* for ie */
        /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
        font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
        /* Expressed in ascii characters */
    }

    h1 {
        font-size: 18px;
        /* 18px / 12px = 1.5 */
    }

    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
    }

    h4, h5, h6 {
        font-size: 100%;
    }

    address, cite, dfn, em, var {
        font-style: normal;
    }
    /* Right italics */

    code, kbd, pre, samp, tt {
        font-family: "Courier New", Courier, monospace;
    }
    /* Uniform monospace font */

    small {
        font-size: 12px;
    }

    /* Reset list elements */

    ul, ol {
        list-style: none;
    }
    /* Reset text formatting elements */

    a {
        text-decoration: none;
        color: #000;
    }
    /*a:hover { text-decoration: underline; }*/

    abbr[title], acronym[title] {
        border-bottom: 1px dotted;
        cursor: help;
    }

    q:before, q:after {
        content: '';
    }
    /* Reset form elements */

    legend {
        color: #000;
    }
    /* for ie6 */

    fieldset, img {
        border: none;
    }

    button, input, select, textarea {
        font-size: 100%;
        /* Make form elements inherit the font size under ie */
    }
    /* Reset table elements */

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* Reset hr*/

    hr {
        border: none;
        height: 1px;
    }
    /* Let non-ie browsers also display the vertical scroll bar by default to prevent flickering caused by the scroll bar */

    html {
        overflow-y: scroll;
    }
    /*  float  */

    .fl {
        float: left
    }

    .fr {
        float: right
    }
    /*  Clear float  */

    .clearfix:after {
        content: " ";
        display: block;
        clear: both;
        visibility: hidden;
    }
