<div id="outer" class="primary">
    <h1>About Us</h1>
    <div class="inner">
        <img src='../../../assets/alb.png' height="128px">
        <div>
            <h2>[NAME]</h2>
            <p>[LIFE STORY]</p>
        </div>
    </div>
    <div class="inner">
        <img src='../../../assets/alb.png' height="128px">
        <div>
            <h2>[NAME]</h2>
            <p>[LIFE STORY]</p>
        </div>
    </div>
    <div class="inner">
        <img src='../../../assets/alb.png' height="128px">
        <div>
            <h2>[NAME]</h2>
            <p>[LIFE STORY]</p>
        </div>
    </div>
    <div class="inner">
        <img src='../../../assets/alb.png' height="128px">
        <div>
            <h2>[NAME]</h2>
            <p>[LIFE STORY]</p>
        </div>
    </div>
    <div class="inner">
        <img src='../../../assets/alb.png' height="128px">
        <div>
            <h2>[NAME]</h2>
            <p>[LIFE STORY]</p>
        </div>
    </div>
</div>