h2 {
    color: rgb(255, 255, 255);
    text-align: center;
}
label {
    color: rgb(212, 212, 212);
    line-height: 0%;
    margin: 12px 10px;
}

input {
    width:100%;
    padding: 8px 10px;
    margin: 8px 0px;
    box-sizing: border-box;
}

#outer {
    margin: auto;
    margin-top: 32px;
    width: 40%;
}

.alert {
    color:rgb(165, 0, 0);
    background-color: rgb(236, 170, 170);
    padding: 4px;
    border-radius: 2px;
}