#outer {
    padding: 1px;
    display: inline-block;
    height: 100%;
    width: 138px;
}

#inner {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    padding: 4px;
}

p {
    overflow-x: hidden;
    text-align: center;
    color: rgb(0, 0, 0);
}

img {
    width: 128px;
    height: 128px;
    background-color: rgb(185, 185, 185);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
}