#outer {
    padding: 1px;
    display: inline-block;
    height: 65%;
    width: 138px;
}

#inner {
    background-color:#9c9c9c;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
}

p {
    overflow-x: hidden;
    text-align: center;
}

img {
    width: 128px;
    height: 128px;
}