img {
    margin-top: 5px;
    width: 128px;
    height: 128px;
    background-color: rgb(185, 185, 185);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
}

#inner {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    height: 100%;
    width: 138px;
    display: inline-block;
    text-align: center;
    margin-bottom: 0px;
}

#inner:hover {
    background: rgb(235, 235, 235)
}

p {
    overflow-x: hidden;
    color: rgb(0, 0, 0);
}
