<div class = "create-account-page">
    <div class = "form">
        <form (submit) = "createAccount($event)">
            <input type = "text" placeholder = "Enter new username" id = "username">
            <input type = "password" placeholder = "Enter new password" id = "password">
            <input type = "password" placeholder = "Reenter new password" id = "re_password">
            <input type = "text" placeholder="Enter an email" id = "email">
            <!----input type = "date" placeholder="Enter date of birth" id = "DOB"!------->
            <input type = "submit" value = "Create new account">
        </form>
    </div>
</div>